<h3>Hello <%= current_user.email %></h3>
<%= link_to 'Log out', logout_users_path, method: :delete %>
<div id="chatrooms_list"></div>
<div id="chatrooms_container"></div>
<div id="online_users">
  <span>Online now</span>
  <% @users.each do |user| %>
    <div class='online_user'><%= user.name %></div>
  <% end %>
</div>
