<div class='chatroom'>
  <span>Chatroom</span>
  <button>_</button>
  <button>x</button>
  <div class='chat'></div>
  <div class='users'></div>
  <textarea class='message'></textarea>
  <input type='submit' />
</div>
